<div class="text-center vh-100 contact">
  <div class="container">
    <h1 class="pb-4">CONATCT SECTION</h1>
    <div class="star"></div>
    <div class="row form">
      <div class="col-md-8 mx-auto">
        <input
          type="text"
          placeholder="Username"
          class="form-control mb-4"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="col-md-8 mx-auto">
        <input
          type="number"
          placeholder="Userage"
          class="form-control mb-4"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="col-md-8 mx-auto">
        <input
          type="email"
          placeholder="Useremail"
          class="form-control mb-4"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="col-md-8 mx-auto">
        <input
          type="password"
          placeholder="Userpassword"
          class="form-control mb-4"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="col-md-6">
        <input type="button" class="btn send-btn" value="Send Message" />
      </div>
    </div>
  </div>
</div>
