<div class="text-center portfolio">
  <div class="container">
    <h1 class="pb-4">PORTFOLIO SECTION</h1>
    <div class="star"></div>
    <div class="row portfolio-sec pt-2">
      <div class="col-md-4">
        <div class="img-portfolio">
          <img src="./assets/images/poert1.png" class="w-100" alt="" />

          <div
            class="img-layer d-flex justify-content-center align-items-center text-center"
          >
            <div class="icon">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-portfolio">
          <img src="./assets/images/port2.png" class="w-100" alt="" />

          <div
            class="img-layer d-flex justify-content-center align-items-center text-center"
          >
            <div class="icon">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-portfolio">
          <img src="./assets/images/port3.png" class="w-100" alt="" />

          <div
            class="img-layer d-flex justify-content-center align-items-center text-center"
          >
            <div class="icon">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row portfolio-sec pt-5">
      <div class="col-md-4">
        <div class="img-portfolio">
          <img src="./assets/images/poert1.png" class="w-100" alt="" />
          <div
            class="img-layer d-flex justify-content-center align-items-center text-center"
          >
            <div class="icon">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-portfolio">
          <img src="./assets/images/port2.png" class="w-100" alt="" />
          <div
            class="img-layer d-flex justify-content-center align-items-center text-center"
          >
            <div class="icon">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-portfolio">
          <img src="./assets/images/port3.png" class="w-100" alt="" />
          <div
            class="img-layer d-flex justify-content-center align-items-center text-center"
          >
            <div class="icon">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
