.home {
  height: 80vh;
  color: white;
  background-color: #1abc9c;
  padding-top: 100px;
}
.home .img-avtar {
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.home .img-avtar img {
  border-radius: 50%;
}
.home h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
}
.home h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 80px;
  width: 100px;
  height: 3px;
  background-color: white;
  margin: 10px auto;
}
.home h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 210px;
  width: 100px;
  height: 3px;
  background-color: white;
  margin: 10px auto;
}
.home .star:after {
  content: "\2605";
  position: absolute;
  bottom: 263px;
  left: 748px;
  color: white;
  font-size: 28px;
}
